@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="stat-widget-one text-center">
                <div class="stat-icon dib">
                    <i class="ti-clipboard color-warning border-warning"></i>
                </div>
                <div class="stat-digit">Pedidos</div>
                <div class="stat-text ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis
                </div>
                <div class="text-center">
                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="GestionarPedidos" class="btn btn-warning btn-block">Gestionar Pedidos</a>

                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="AgregarPedido" class="btn btn-warning btn-block">Agregar Pedido</a>
                </div>
            </div>
        </div>
    </div>

</div>