@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row text-center justify-content-center">
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-shopping-cart color-primary border-primary"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">Pedidos Totales</div>
                    <div class="stat-digit">123</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-pencil-alt color-pink border-pink"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">Mis Pedidos Cargados</div>
                    <div class="stat-digit">13</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-package color-success border-success"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">Cantidad de Articulos</div>
                    <div class="stat-digit">432</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="stat-widget-one text-center">
                <div class="stat-icon dib">
                    <i class="ti-clipboard color-warning border-warning"></i>
                </div>
                <div class="stat-digit">Pedidos</div>
                <div class="stat-text ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-warning btn-block">Administrar Pedidos</button>
                    <a href="/Usuario/Pedidos/AgregarPedido" class="btn btn-warning btn-block">Agregar Pedido</a>
                </div>
            </div>
        </div>
    </div>

</div>