<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPedidos</title>

    <!-- Common Template -->
    <link href="~/themes/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/themes/assets/css/style.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/select2/select2.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/toastr/toastr.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

    <!-- Para paginas con Data Table -->
    <link href="~/themes/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_SidebarUsuarioGeneral.cshtml");};

    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_HeaderUsuarioGeneral.cshtml");};

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                @RenderBody()
                <div class="row">
                    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_FooterUsuarioGeneral.cshtml");};
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Common Template-->
    <script src="~/themes/assets/js/lib/jquery.min.js"></script>
    <script src="~/themes/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/themes/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/themes/assets/js/lib/preloader/pace.min.js"></script>
    <script src="~/themes/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/themes/assets/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_ToastrNotification.cshtml");};


</body>
</html>
