@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one ">
                <div class="stat-icon dib">
                    <i class="ti-id-badge color-primary border-primary"></i>
                </div>
                <div class="stat-digit ">Clientes</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary col-lg-6">Gestionar Clientes</button>
                    <button type="button" class="btn btn-primary col-lg-5">Agregar Cliente</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-receipt  color-success border-success"></i>
                </div>
                <div class="stat-digit">Artículos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success col-lg-6">
                        Administrar
                        Artículos
                    </button>
                    <button type="button" class="btn btn-success col-lg-5">Agregar Artículos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-clipboard color-warning border-warning"></i>
                </div>
                <div class="stat-digit">Pedidos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-warning col-lg-6">Administrar Pedidos</button>
                    <button type="button" class="btn btn-warning col-lg-5">Agregar Pedido</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-user color-default border-default"></i>
                </div>
                <div class="stat-digit">Usuarios</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-default col-lg-6">Administrar Usuarios</button>
                    <button type="button" class="btn btn-default col-lg-5">Crear Usuario</button>
                </div>
            </div>
        </div>
    </div>
</div>