@{

    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">

    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one ">
                <div class="stat-icon dib">
                    <i class="ti-id-badge color-primary border-primary"></i>
                </div>
                <div class="stat-digit ">Clientes</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Clientes" asp-action="AdministrarClientes" class="btn btn-primary col-lg-6 mt-2">Administrar Clientes</a>
                    <a asp-area="Administrador" asp-controller="Clientes" asp-action="AgregarCliente"  class="btn btn-primary col-lg-5 mt-2">Agregar Cliente</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-receipt  color-success border-success"></i>
                </div>
                <div class="stat-digit">Artículos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Articulos" asp-action="AdministrarArticulos" class="btn btn-success col-lg-6 mt-2">Administrar Artículos</a>
                    <a asp-area="Administrador" asp-controller="Articulos" asp-action="AgregarArticulo" class="btn btn-success col-lg-5 mt-2">Agregar Artículo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-clipboard color-warning border-warning"></i>
                </div>
                <div class="stat-digit">Pedidos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="GestionarPedidos" class="btn btn-warning col-lg-6 mt-2">Gestionar Pedidos</a>
                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="AgregarPedido" class="btn btn-warning col-lg-5 mt-2">Agregar Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-user color-default border-default"></i>
                </div>
                <div class="stat-digit">Usuarios</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Usuarios" asp-action="AdministrarUsuarios" class="btn btn-default col-lg-6 mt-2">Administrar Usuarios</a>
                    <a asp-area="Administrador" asp-controller="Usuarios" asp-action="CrearUsuario" class="btn btn-default col-lg-5 mt-2">Crear Usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>