@{

    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">

    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib ml-3">
                    <i class="ti-id-badge color-info border-info"></i> <div class="stat-digit">Clientes</div>
                </div>
                <div class="stat-text ml-3 mt-1 mb-1">
                    Administración e ingreso de clientes.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Clientes" asp-action="AdministrarClientes" class="btn btn-dark col-lg-6 mt-2">Administrar Clientes</a>
                    <a asp-area="Administrador" asp-controller="Clientes" asp-action="AgregarCliente"  class="btn btn-info col-lg-5 mt-2">Agregar Cliente</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib ml-3">
                    <i class="ti-receipt  color-info border-info"></i>
                </div>
                <div class="stat-digit ml-3">Artículos</div>
                <div class="stat-text ml-3 mt-1 mb-1">
                    Administración e ingreso de articulos.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Articulos" asp-action="AdministrarArticulos" class="btn btn-dark col-lg-6 mt-2">Administrar Artículos</a>
                    <a asp-area="Administrador" asp-controller="Articulos" asp-action="AgregarArticulo" class="btn btn-info col-lg-5 mt-2">Agregar Artículo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib ml-3">
                    <i class="ti-clipboard color-info border-info"></i>
                </div>
                <div class="stat-digit ml-3">Pedidos</div>
                <div class="stat-text  ml-3 mt-1 mb-1">
                    Gestión e ingreso de pedidos.
                </div>
                <div class="text-center">
                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="GestionarPedidos" class="btn btn-dark col-lg-6 mt-2">Gestionar Pedidos</a>
                    <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="AgregarPedido" class="btn btn-info col-lg-5 mt-2">Agregar Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib ml-3">
                    <i class="ti-user color-info border-info"></i>
                </div>
                <div class="stat-digit ml-3">Usuarios</div>
                <div class="stat-text  ml-3 mt-1 mb-1">
                    Administración e ingreso de usuarios.
                </div>
                <div class="text-center">
                    <a asp-area="Administrador" asp-controller="Usuarios" asp-action="AdministrarUsuarios" class="btn btn-dark col-lg-6 mt-2">Administrar Usuarios</a>
                    <a asp-area="Administrador" asp-controller="Usuarios" asp-action="CrearUsuario" class="btn btn-info col-lg-5 mt-2">Crear Usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>