@{

    ViewData["Title"] = "Home Page";
}


<div class="row justify-content-center">

    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one ">
                <div class="stat-icon dib">
                    <i class="ti-id-badge color-primary border-primary"></i>
                </div>
                <div class="stat-digit ">Clientes</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a href="/Administrador/Clientes/AdministrarClientes" class="btn btn-primary col-lg-6 mt-2">Administrar Clientes</a>
                    <a href="/Administrador/Clientes/AgregarCliente" class="btn btn-primary col-lg-5 mt-2">Agregar Cliente</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-receipt  color-success border-success"></i>
                </div>
                <div class="stat-digit">Artículos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a href="/Administrador/Articulos/AdministrarArticulos" class="btn btn-success col-lg-6 mt-2">Administrar Artículos</a>
                    <a href="/Administrador/Articulos/AgregarArticulo" class="btn btn-success col-lg-5 mt-2">Agregar Artículo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-clipboard color-warning border-warning"></i>
                </div>
                <div class="stat-digit">Pedidos</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a href="/Usuario/Pedidos/GestionarPedidos" class="btn btn-warning col-lg-6 mt-2">Gestionar Pedidos</a>
                    <a href="/Usuario/Pedidos/AgregarPedido" class="btn btn-warning col-lg-5 mt-2">Agregar Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-user color-default border-default"></i>
                </div>
                <div class="stat-digit">Usuarios</div>
                <div class="stat-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                    officia unde blanditiis.
                </div>
                <div class="text-center">
                    <a href="/Administrador/Usuarios/AdministrarUsuarios" class="btn btn-default col-lg-6 mt-2">Administrar Usuarios</a>
                    <a href="/Administrador/Usuarios/CrearUsuario" class="btn btn-default col-lg-5 mt-2">Crear Usuario</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="stat-widget-one">
                <div class="text-center">
                    <a href="/Moderador/" class="btn btn-danger btn-block font-italic">CAMBIAR A VISTA DE MODERADOR (BOTON TEMPORAL)</a>
                </div>
            </div>
        </div>
    </div>
</div>