@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-user text-default"></i> Nuevo Usuario </h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide">
                            <div class="form-group row">
                                <div class="input-group align-items-center">
                                    <label class="col-lg-1 col-form-label">E-mail</label>
                                    <div class="input-group-prepend col-lg-10">
                                        <span class="input-group-text">@@</span>
                                        <input type="text" class="form-control" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label p-2">Contraseña</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label">Nombre</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" placeholder="Nombre">
                                </div>
                                <label class="col-lg-1 col-form-label">Apellido</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" placeholder="Apellido">
                                </div>
                                <label class="col-lg-1 col-form-label p-0">Fecha de Nacimiento</label>
                                <div class="col-lg-2">
                                    <input type="date" class="form-control" placeholder="Fecha de Nacimiento">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing">Usuario Administrador</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
            <button type="button" class="btn btn-info col-lg-4 m-1">Crear Usuario</button>
            <a href="javascript:history.back(-1);" class="btn btn-default ml-auto ">Volver</a>
        </div>
    </div>
</section>