@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-package text-default"></i> Agregar Artículo </h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-validation">
                <form class="form-valide">
                    <div class="card">
                        <div class="card-body">


                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label">Código <span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="Código del Artículo" required>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label p-0">Descripción <span class="text-danger">*</span></label>
                                <div class="col-lg-11">
                                    <input type="text" class="form-control" placeholder="Descripción del Artículo">
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center">
                            <button type="submit" class="btn btn-info col-lg-4 m-1">Agregar Artículo al Inventario</button>
                            <a href="javascript:history.back(-1);" class="btn btn-default ml-auto ">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>