@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-pencil-alt text-default"></i> Nuevo Pedido</h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="#" method="post">
                            <div class="form-group row">
                                <label class="col-form-label" for="val-username">
                                    Cliente <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-username"
                                           name="val-username" placeholder="Ingrese cliente">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label" for="val-skill">
                                    Artículo <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-5">
                                    <select class="form-control" id="select-articulo" name="">
                                        <option value="">Seleccione un artículo</option>
                                        <option value="1">Código y descripción del articulo</option>
                                        <option value="2">Código y descripción del articulo</option>
                                        <option value="3">Código y descripción del articulo</option>
                                        <option value="4">Código y descripción del articulo</option>
                                    </select>
                                </div>
                                <label class="col-form-label" for="val-digits">
                                    Cantidad <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="val-cantidad"
                                           name="val-digits" placeholder="Ingrese cantidad">
                                </div>
                                <div class="col-lg-1">
                                    <button type="submit" class="btn btn-success">
                                        Agregar
                                        artículo
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="form-group row">
                            <label class="col-form-label" for="val-suggestions">Comentario </label>
                            <div class="col-lg-10">
                                <textarea class="form-control"
                                          placeholder="¿Que comentario te gustaría ponerle al pedido?"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Contenido del pedido</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Código</th>
                                    <th>Cantidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-info btn-flat btn-addon btn-sm">
                                            <i class="ti-search"></i>Editar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-info btn-flat btn-addon btn-sm">
                                            <i class="ti-search"></i>Editar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-info btn-flat btn-addon btn-sm">
                                            <i class="ti-search"></i>Editar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-info btn-flat btn-addon btn-sm">
                                            <i class="ti-search"></i>Editar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
            <button type="button" class="btn btn-info col-lg-4 m-1">Guardar Pedido</button>
            <button type="button" class="btn btn-info m-1">Guardar Pedido y crear otro</button>
            <a href="javascript:history.back(-1);" class="btn btn-default ml-auto ">Volver</a>
        </div>
    </div>
</section>