@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="footer col-lg-12 d-flex justify-content-between align-items-center">
    <p>
        <strong>Programación Web III</strong> - 2021 - Primer Cuatrimestre
    </p>
    <p>
        <strong>Grupo: 99</strong>
    </p>
    <p>
        <strong>Integrantes: </strong>Nombre Apellido - Nombre Apellido - Nombre Apellido - Nombre
        Apellido
    </p>
</div>