@using DAL.Modelos
@model Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebAppPedidos</title>

    @*Usar Bundled File que contiene todos los CSS necesarios, configurado unicamente en el archivo bundleconfig.json*@
    <link rel="stylesheet" href="~/bundles/site-bundled-file.css" />


    <style>
        .fondo-login {
<<<<<<< HEAD
            background-color: #38cae1;
=======
            background: no-repeat 100% url(http://cielorojo.mx/2017/wp-content/uploads/2017/09/Slider-Cielo-Rojo-Home-solofondo.png)
>>>>>>> master
        }
    </style>

</head>

<body class="fondo-login">
    <div class="main">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="index.html"><span class="text-black-50"><strong>Programación Web III - 2021-1C</strong></span></a>
                            </div>
                            <div class="login-form">
                                <h3 class="text-black-50 text-center">Bienvenido a Organizá tus Pedidos</h3>
                                @using (Html.BeginForm("IniciarSesion", "Login", new { area = "UsuarioGeneral" }, FormMethod.Post))
                                {
                                    <div class="m-t-20">
                                        <div class="form-group">
                                            <label asp-for="Email">Correo electrónico</label>
                                            <input type="email" name="Email" asp-for="Email" class="form-control" placeholder="correo.electronico@dominio.com">
                                            <span asp-validation-for="Email " class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input type="password" name="Password" class="form-control" placeholder="Contraseña">
                                        </div>

                                        <button type="submit" class="btn btn-secondary btn-flat m-b-30 m-t-30">Ingresar</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    @*Usar Bundled File que contiene todos los SCRIPTS necesarios, configurado unicamente en el archivo bundleconfig.json*@
    <script src="~/bundles/site-bundled-file.js"></script>


    @* Partial View para las notificaciones con Toastr *@
    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_ToastrNotification.cshtml");}


</body>
</html>