<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPedidos</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Common Template -->
    <link href="~/themes/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/themes/assets/css/style.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/select2/select2.min.css" rel="stylesheet">


</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo">
                    <a href="/home/index">
                        <!-- <img src="~/themes/assets/images/logo.png" alt="" /> -->
                        <span>Programación Web III</span>
                    </a>
                </div>
                <ul>
                    <li class="label">Inicio</li>
                    <li>
                        <a href="/Moderador">
                            <i class="ti-home"></i> Principal
                        </a>
                    </li>
                    <li class="label">Pedidos</li>
                    <li>
                        <a href="/Moderador">
                            <i class="ti-clipboard"></i> Administrar pedidos
                        </a>
                    </li>
                    <li>
                        <a href="/Usuario/Pedidos/AgregarPedido">
                            <i class="ti-plus"></i> <i class="ti-pencil-alt"></i> Agregar pedido
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

 
    @{await Html.RenderPartialAsync("~/Areas/Usuario/Views/Shared/pv_HeaderUsuario.cshtml");};

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                @RenderBody()

                <div class="row">
                    @{await Html.RenderPartialAsync("~/Areas/Usuario/Views/Shared/pv_FooterUsuario.cshtml");};
                </div>
            </div>
        </div>

    </div>





    <!-- Para paginas que requieran validaciones, ver como quitamos esto de aca y lo ponemos en cada pagina
     pero que se recargue al final-->
    <script src="~/themes/assets/js/lib/select2/select2.full.min.js"></script>
    <script src="~/themes/assets/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/themes/assets/js/lib/form-validation/jquery.validate-init.js"></script>


    <!-- Common Template-->
    <script src="~/themes/assets/js/lib/jquery.min.js"></script>
    <script src="~/themes/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/themes/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/themes/assets/js/lib/preloader/pace.min.js"></script>
    <script src="~/themes/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/themes/assets/js/scripts.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
