<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPedidos</title>

    <!-- Common Template -->
    <link href="~/themes/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/themes/assets/css/style.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/select2/select2.min.css" rel="stylesheet">
    <link href="~/themes/assets/css/lib/toastr/toastr.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo">
                    <a asp-area="Moderador" asp-controller="Home" asp-action="Index">
                        <!-- <img src="~/themes/assets/images/logo.png" alt="" /> -->
                        <span>Programación Web III</span>
                    </a>
                </div>
                <ul>
                    <li class="label">Inicio</li>
                    <li>
                        <a asp-area="Moderador" asp-controller="Home" asp-action="Index">
                            <i class="ti-home"></i> Principal
                        </a>
                    </li>
                    <li class="label">Pedidos</li>
                    <li>
                        <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="GestionarPedidos">
                            <i class="ti-clipboard"></i> Gestionar pedidos
                        </a>
                    </li>
                    <li>
                        <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="AgregarPedido">
                            <i class="ti-plus"></i> <i class="ti-pencil-alt"></i> Agregar pedido
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_HeaderUsuarioGeneral.cshtml");};

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">

                @RenderBody()

                <div class="row">
                    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_FooterUsuarioGeneral.cshtml");};
                </div>
            </div>
        </div>
    </div>


    <!-- Para paginas que requieran validaciones, ver como quitamos esto de aca y lo ponemos en cada pagina
     pero que se recargue al final-->
    <script src="~/themes/assets/js/lib/select2/select2.full.min.js"></script>
    <script src="~/themes/assets/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/themes/assets/js/lib/form-validation/jquery.validate-init.js"></script>


    <!-- Common Template-->
    <script src="~/themes/assets/js/lib/jquery.min.js"></script>
    <script src="~/themes/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/themes/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/themes/assets/js/lib/preloader/pace.min.js"></script>
    <script src="~/themes/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/themes/assets/js/scripts.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_ToastrNotification.cshtml");};

</body>
</html>
