@section Styles{
    <style>
        input[type="number"] {
            -webkit-appearance: textfield !important;
            margin: 0;
            -moz-appearance: textfield !important;
        }
    </style>
}

<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-user text-default"></i> Editar Cliente </h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-validation">
                <form class="form-valide">
                    <div class="card">

                        <div class="card-body">


                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label">Nombre <span class="text-danger">*</span></label>
                                <div class="col-lg-11">
                                    <input type="text" class="form-control" placeholder="Nombre" required>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label">N° Cliente</label>
                                <div class="col-lg-5">
                                    <input type="number" class="form-control" placeholder="N°">
                                </div>
                                <label class="col-lg-0 ml-4 col-form-label">Teléfono</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control "
                                           placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="input-group align-items-center">
                                    <label class="col-lg-1 col-form-label val-email">E-mail</label>
                                    <div class="input-group-prepend col-lg-11">
                                        <span class="input-group-text">@@</span>
                                        <input type="text" class="form-control" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-1 col-form-label">CUIT</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="CUIT">
                                </div>
                                <label class="col-lg-0 ml-4 col-form-label">Dirección</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="Dirección">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center">
                                    <button type="submit" class="btn btn-dark col-lg-4 m-1">Guardar Modificaciones</button>
                                    <button type="submit" class="btn btn-outline-danger col-lg-3 ml-auto">Eliminar Cliente</button>

                                </div>
                            </div>

                        </div>

                    </div>
                    
                </form>
                <a href="javascript:history.back(-1);" class="btn btn-default ml-2 ">Volver</a>
            </div>
        </div>
    </div>
</section>

