<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPedidos</title>

    @*Usar Bundled File que contiene todos los CSS necesarios, configurado unicamente en el archivo bundleconfig.json*@
    <link rel="stylesheet" href="~/bundles/site-bundled-file.css" />

    @* Seccion de Styles por si se requieren estilos en particular por cada pagina *@
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>

    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_SidebarUsuarioGeneral.cshtml");}

    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_HeaderUsuarioGeneral.cshtml");}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                @RenderBody()
                <div class="row">
                    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_FooterUsuarioGeneral.cshtml");}
                </div>
            </div>
        </div>
    </div>


    @*Usar Bundled File que contiene todos los SCRIPTS necesarios, configurado unicamente en el archivo bundleconfig.json*@
    <script src="~/bundles/site-bundled-file.js"></script>


    @* Seccion de Scripts por si se requieren scripts en particular por cada pagina *@
    @await RenderSectionAsync("Scripts", required: false)

    @* Partial View para las notificaciones con Toastr *@
    @{await Html.RenderPartialAsync("~/Areas/UsuarioGeneral/Views/Shared/pv_ToastrNotification.cshtml");}


</body>
</html>
